/* temp css change */

body {
  background: lightblue;
}

/* .row {
  border: 1px solid red;
} */

.home_firstRow {
  padding-top: 10px;
  transition: all 0.5s
}

.home_secondRow {
  margin-top: 15px;
  height: 68px;
}

header {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-out, line-height 0.5s ease-out
}

/*  */
.home_contactInfo,
.home_social {
  color: #e3ded8;
  font-size: 1rem;
  line-height: 1rem;
}

.home_contactInfo {
  float: left;
}

.home_social {
  float: right;
}

/* contactInfo */
.home_contactInfo i {
  margin-right: 10px;
}

.home_contactInfo span {
  margin-right: 22px;
}

/* social */
.home_social {
  text-align: right;
}

.home_social a {
  color: #e3ded8;
}

.home_logo {
  padding-top: 7px;
  float: left;
}

.nav {
  float: right;
  height: 100%;
}

.home_navlist {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 68px;
}

.nav .home_navlist li {
  position: relative;
  float: left;
  list-style: none;
  margin-right: 30px;
  height: 100%;
}

.nav .home_navlist a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #09c1c1;
  height: 2px;
  width: 100%;
  display: none;
  transition: all 0.5s;
}

.nav .home_navlist li:hover a::after {
  display: block;
}

.nav .home_navlist li a {
  text-decoration: none;
  color: #fff;
}

.nav .home_navlist li a:hover {
  color: #09c1c1 !important;
}

.nav .home_navlist div {
  position: absolute;
  bottom: -65px;
  left: 0px;
  line-height: 33px;
  width: 130px;
  border-top: 2px solid #09c1c1;
}

.nav .home_navlist div span {
  display: block;
  color: #fff;
  width: 130px;
  height: 33px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.7);
}

.nav .home_navlist div span:hover {
  display: block;
  background: #09c1c1;
  cursor: pointer;
}

.nav .home_navlist div span i {
  font-size: 12px;
  margin-right: 5px;
}

/* footer */
footer {
  height: 72px;
  background: #121313;
}

footer .col {
  height: 72px;
  line-height: 72px;
  color: #e3ded8;
}

footer .col a {
  color: #e3ded8;
  text-decoration: none;
}

.home_footer_social a:nth-of-type(1) {
  margin-right: 10px;
}

footer .col a:hover {
  color: #09c1c1;
}

footer .home_copyright {
  float: left;
}

footer .home_footer_social {
  float: right
}