<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{if lan == 'en'}}
  <title>{{ title.en }}</title>
  {{else if lan == 'zh'}}
  <title>{{ title.zh }}</title>
  {{/if}}
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/index.css">
  {{block 'css'}}
  {{/block}}
</head>

<body>
  <header>
    <div class="container">
      <div class="row home_firstRow">
        <div class="col">
          <div class="home_contactInfo">
            <i class="fas fa-mobile-alt"></i><span>+1416-939-7790</span>
            <i class="fas fa-envelope"></i><span>info@jklonecapital.com</span>
          </div>
          <div class="home_social">
            <a href="javascript:;"><i class="fab fa-twitter"></i></a>
            <a href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="row home_secondRow">
        <div class="col">
          <div class="home_logo">
            <a href="javascript:;">
              <img src="/public/image/logo_white.png" alt="">
            </a>
          </div>
          <div class="nav">
            <ul class="home_navlist">
              {{if lan == 'en'}}
              {{each navList}}
              {{if $value.url == 'lan'}}
              <li>
                <a href="/{{$value.url}}">{{$value.en}} <i class="fas fa-chevron-down"></i></a>
                <div style="display: none;">
                  <a href="/{{$value.url}}">{{$value.en}}</a>
                  <a href="/{{$value.url}}">{{$value.zh}}</a>
                </div>
              </li>
              {{else if $value.url != 'lan'}}
              <li>
                <a href="/{{$value.url}}">{{$value.en}}</a>
              </li>
              {{/if}}
              {{/each}}
              {{else if lan == 'zh'}}
              {{each navList}}
              {{if $value.url == 'lan'}}
              <li>
                <a href="/{{$value.url}}">{{$value.zh}} <i class="fas fa-chevron-down"></i></a>
                <div style="display: none;">
                  <a href="/{{$value.url}}">{{$value.en}}</a>
                  <a href="/{{$value.url}}">{{$value.zh}}</a>
                </div>
              </li>
              {{else if $value.url != 'lan'}}
              <li>
                <a href="/{{$value.url}}">{{$value.zh}}</a>
              </li>
              {{/if}}
              {{/each}}
              {{/if}}
              <li><a href="javascript:;"><i class="fas fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{block 'body'}}
  {{/block}}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_copyright">
            <p><a href="javascript">Paretone Capital</a> © 2016</p>
          </div>
          <div class="home_footer_social">
            <a href="javascript:;"><i class="fab fa-twitter"></i></a>
            <a href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/public/lib/Jquery/jquery.min.js"></script>
  {{block 'js'}}
  {{/block}}
</body>

</html>